{% extends "base.html" %} {% block title %}Поломано — 500{% endblock %} {% block
content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-1 fw-bold text-danger">500</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Всё сломалось и пока чинится!</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a
        href="{{ url_for('index_view') }}"
        class="btn btn-primary btn-lg px-4 gap-3"
      >
        На главную
      </a>
    </div>
  </div>
</div>
{% endblock %}
