{% extends "base.html" %} {% block content %}
<section class="container my-5 px-4">
  <h1 class="text-center"><span style="color: red">Ya</span>Cut</h1>
  <p class="text-center my-4">Загрузите файлы и получите короткие ссылки</p>
  <div class="container">
    <div class="row my-3">
      <div class="col-sm"></div>
      <div class="col-sm">
        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div>
            {{ form.files( class="form-control form-control-lg py-2 mb-3" ) }}
            {% if form.files.errors %}
            <p>
              <span style="color: red"> {{ form.files.errors[0] }} </span>
            </p>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="Загрузить" />
          </div>
        </form>
        {% if results %}
        <div class="mt-4">
          {% for result in results %}
          <p>
            {{ result.filename }}:
            <a href="{{ result.short_link }}"> {{ result.short_link }} </a>
          </p>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</section>
{% endblock %}
